body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

header {
  background: #000; }
  header a {
    text-decoration: none; }
  header .logo {
    width: 60%; }
    header .logo h1 {
      color: #fff; }
    header .logo span {
      color: #ff8b38; }
  header .menu {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    header .menu a {
      color: #b0b0b0;
      border: 1px solid transparent;
      font-size: 14px; }
      header .menu a:hover {
        border-bottom: 2px solid #b0b0b0; }

.main {
  background: url(img/mainbg.png) no-repeat center top/cover;
  height: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main .main__text {
    width: 50%;
    margin-top: 110px; }
    .main .main__text .whiteLine {
      height: 2px;
      background-color: #fff;
      max-width: 70px;
      width: 100%;
      margin: 30px 0 30px 0; }
    .main .main__text h1 {
      color: #fff;
      font-size: 48px;
      margin-bottom: 0; }
    .main .main__text span {
      color: #ff8b38;
      font-size: 48px; }
    .main .main__text h2 {
      font-size: 36px;
      color: #fff;
      margin-top: 3px; }
    .main .main__text p {
      font-size: 16px;
      color: #9a8c86;
      margin-bottom: 47px; }
    .main .main__text a {
      text-decoration: none;
      padding: 10px 30px;
      color: #fff;
      border: 3px solid #fff; }
  .main .main__input {
    max-width: 360px;
    width: 100%;
    height: 360px;
    background: #fff;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 180px;
    border-radius: 7px; }
    .main .main__input .main__input__logo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: 70px;
      background: #f5f5f5; }
      .main .main__input .main__input__logo h5 {
        font-size: 20px; }
        .main .main__input .main__input__logo h5 span {
          color: #ff8b38; }
    .main .main__input input {
      border: none;
      width: 70%;
      border-bottom: 1px solid #d6d6d6;
      margin-top: 40px;
      outline: none;
      padding: 5px; }
  .main button {
    width: 100%;
    height: 50px;
    margin-top: 40px;
    background: #ff9b51;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer; }

.socialMedia {
  border-bottom: 2px solid #b7b7b7; }
  .socialMedia .social {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .socialMedia .social .social__text {
      max-width: 330px;
      width: 100%; }
      .socialMedia .social .social__text h3 {
        font-size: 20px; }
      .socialMedia .social .social__text p {
        font-size: 14px;
        color: #86878b;
        margin-bottom: 15px; }
    .socialMedia .social .social__icon img {
      height: 40px;
      margin-left: 50px; }

.feature {
  padding-top: 155px;
  padding-bottom: 120px;
  background-color: #f5f5f5; }
  .feature .feature__tab a {
    text-decoration: none; }
  .feature .feature__tab .feature__tab--orange {
    background-color: #ff8b38;
    margin-bottom: -10px;
    border-radius: 7px; }
  .feature .feature__tab .feature__tab--grey {
    background-color: #333;
    margin-bottom: -10px;
    border-radius: 7px; }
  .feature .feature__tab h1 {
    padding: 55px 35px;
    color: #fff;
    font-size: 15px; }
  .feature .feature__download {
    max-width: 45%;
    width: 100%; }
    .feature .feature__download h3 {
      font-size: 20px;
      margin-bottom: 55px; }
    .feature .feature__download p, .feature .feature__download span {
      color: #bebec0;
      font-size: 14px; }
    .feature .feature__download .button {
      padding: 15px 23px;
      margin-top: 50px;
      border-radius: 7px;
      background-color: #ff8b38;
      max-width: 120px;
      width: 100%; }
      .feature .feature__download .button a {
        text-decoration: none;
        padding: 15px 23px;
        color: #fff; }
  .feature .feature__img {
    margin-top: 40px; }

.list {
  margin-top: 110px;
  margin-bottom: 130px; }
  .list .list__img {
    margin-top: 50px;
    -webkit-box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.56);
    box-shadow: -7px 7px 5px 0px rgba(0, 0, 0, 0.56); }
  .list .list__text {
    width: 43%; }
    .list .list__text .orangeLine {
      height: 2px;
      background-color: #ff8b38;
      max-width: 70px;
      width: 100%; }
    .list .list__text h3 {
      font-size: 20px; }
    .list .list__text p {
      color: #b4b4b7;
      font-size: 14px; }
  .list .list__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .list .list__title .list__title__img {
      margin-top: 20px; }
    .list .list__title .list__title__text {
      margin-left: 30px; }
      .list .list__title .list__title__text h4 {
        font-size: 14px;
        margin-bottom: 14px; }

.picture {
  background-color: #f5f5f5;
  padding: 85px 0 130px 0; }
  .picture .picture__text {
    max-width: 40%;
    width: 100%; }
    .picture .picture__text h3 {
      font-size: 20px; }
    .picture .picture__text p, .picture .picture__text span {
      color: #b4b4b7;
      font-size: 14px;
      margin-top: 30px; }
    .picture .picture__text .orangeLine {
      height: 2px;
      background-color: #ff8b38;
      max-width: 70px;
      width: 100%; }
  .picture .picture__img img {
    -webkit-box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 8px 7px 5px 0px rgba(0, 0, 0, 0.56); }

.process {
  margin-top: 100px;
  margin-bottom: 100px; }
  .process .process__text {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center; }
    .process .process__text h1 {
      font-size: 36px;
      margin-bottom: 20px; }
    .process .process__text p {
      font-size: 14px;
      color: #b4b4b7;
      margin-top: 20px;
      margin-bottom: 80px; }
    .process .process__text .orangeLine {
      height: 2px;
      background-color: #ff8b38;
      max-width: 70px;
      width: 100%;
      margin-left: auto;
      margin-right: auto; }
  .process .process__item {
    max-width: 300px;
    width: 100%;
    text-align: center; }
    .process .process__item h3 {
      font-size: 20px; }
    .process .process__item p {
      font-size: 14px;
      color: #b4b4b7; }
